@import '../../styles/variables.scss';

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
  }

  &__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  } 

  &__param {
    padding: 0px 10px;
    font-size: 15px;
  }

  &__slide {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    
    & input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 28px;
  background-color: var(#{--search-icon-bg-default});
  
    &:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }

  &:hover {
    background-color: var(#{--search-icon-hover-default});
  }

  &:active {
    background-color: var(#{--search-icon-bg-default});
  }
} 

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}


@media screen and (max-width: 660px) {
  .toggle {
    &__name {
      font-size: 15px;
    }
    &__param {
      font-size: 13px;
      padding: 0px 6px;
    }
  
    &__slide {
      width: 40px;
      height: 20px;
    }
  }

  .slider {
    border-radius: 20px;
    
      &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 4px;
      bottom: 3px;
    }
  } 
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
}

@media screen and (max-width: 460px) {
  .toggle {
    margin-top: 10px;
    &__name {
      font-size: 16px;
    }
  
    &__param {
      font-size: 14px;
    }
  }
}